# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
env/
venv/
ENV/
.venv/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment variables / secrets
.env
*.env
.streamlit/secrets.toml

# VSCode project files
.vscode/

# macOS & system files
.DS_Store
Thumbs.db

# Streamlit cache and logs
.streamlit/config.toml
.streamlit/*.json
.streamlit/*.log

# Python egg metadata
*.egg-info/
dist/
build/
